@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --letter-sapcing: -3px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* styles.module.css */


.no_wrap {
  white-space: nowrap;
}

.moldy-text {
  font-size: 48px;
  font-weight: bold;
  color: rgb(66, 11, 147);
  background: linear-gradient(90deg, transparent 10%, rgba(0, 0, 0, 0.6) 20%);
  display: inline-block;
  position: relative;
  padding: 10px;
  border-radius: 10px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left: 6px solid rgba(0, 174, 239, .15);
  border-right: 6px solid rgba(0, 174, 239, .15);
  border-bottom: 6px solid rgba(0, 174, 239, .15);
  border-top: 6px solid rgba(0, 174, 239, .8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }

  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.moldy-text::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #00f;
  border-radius: 50%;
  top: 20px;
  left: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

.radius {
  border-radius: 54% 46% 100% 0% / 100% 9% 91% 0%;
}

.preview-text {

  font-size: 59.2px;
  font-family: Galano Classic,
    sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: var(--letter-sapcing);
}

.preview_small_text {

  font-size: 89.2px;
  font-family: Galano Classic,
    sans-serif;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: var(--letter-sapcing);
}

/* Custom CSS for the curved line */
.curved-line {
  position: relative;
  width: 200px;
  /* Adjust the container width as needed */
  height: 2px;
  /* Adjust the line thickness as needed */
  background-color: red;
  color: hsl(321, 91%, 51%);
  background: #0000002f;
  /* Set the line color */
}

.dont-show-scroll::-webkit-scrollbar-track {
  display: hidden;
}

.dont-show-scroll {
  overflow: scroll;
}

.curved-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
  /* Set the line color */
  transform: scaleY(2) rotate(-45deg);
  /* Adjust the rotation angle to create the curve */
}


/* Place the pseudo-element behind the content */